{% extends 'base.html' %}

{% block title %}
FilmShit
{% endblock %}

{% block content %}


<div class="text-center mb-4">
  <h1 class="mb-3">🗂️ FilmShit</h1>
  <p class="lead">Templates & Resources for commercial film production.</p>
</div>




<div class="directory-section mb-4">
  <h2 class="mb-2">📂 What's Here</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <h3 class="m-4"> <a href="/templates">Production Templates</a>
    </li>
    </h3>



  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <h3 class="m-4"><a href="/resources">Resources</a>
    </li>
    </h3>
  </ul>
</div>

<br>
<br>


<div class="directory-section mb-2 min-height-auto">
  <ul class="list-group">
    <li class="list-group-item">
      <h3 class="mb-1 fs-6"><a href="/utility">Utility Page</a></h3>
    </li>
  </ul>
</div>

<div class="flex-column">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>


{% endblock %}